{% extends 'base.html.twig' %}

{% block title %}Students marks table!{% endblock %}

{% block body %}
    <div id="root" class="d-flex align-items-center justify-content-center w-100"></div>

    <div class="d-flex flex-column align-items-center justify-content-center w-100">
        <a href="https://bitbucket.org/piotr_dev/sbs.dev" target="_blank" class="mt-1">https://bitbucket.org/piotr_dev/sbs.dev</a>

        <span>git clone https://piotr_dev@bitbucket.org/piotr_dev/sbs.dev.git</span>
    </div>
{% endblock %}

